* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

/* #main {
    width: 100%;
    height: 100%;
} */

/* content part starts */
#content_card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid blue; */
    padding: 3vw;
}

#card_left {
    width: 30%;
    height: 85vh;
    border: 2px solid rgba(123, 113, 113, 0.948);
}

#card_left h2 {
    margin-top: 10px;
    text-align: center;
    color: blue;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

#card_left img {
    width: 100%;
    height: 35vh;
    margin-top: 10px;
}

#card_left p {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
    margin: 10px;

}

#card_left a{
    text-align: center;
    align-items: center;
    justify-content: center;
    color: red;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-left: 11vw;
}


/* middle part starts */
#card_middle {
    width: 30%;
    height: 85vh;
    border: 2px solid rgba(123, 113, 113, 0.948);
}

#card_middle h2 {
    margin-top: 10px;
    text-align: center;
    color: blue;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

#card_middle img {
    width: 100%;
    height: 35vh;
    margin-top: 10px;
}

#card_middle p {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
    margin: 10px;
}

#card_middle a {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: red;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-left: 11vw;
}

/* right part starts */
#card_right {
    width: 30%;
    height: 85vh;
    border: 2px solid rgba(123, 113, 113, 0.948);
}

#card_right h2 {
    margin-top: 10px;
    text-align: center;
    color: blue;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

#card_right img {
    width: 100%;
    height: 35vh;
    margin-top: 10px;
}

#card_right p {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
    margin: 10px;
}

#card_right a {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: red;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-left: 11vw;
}

#footer_st {
    /* position: absolute; */
    width: 100%;
    height: 50px;
    background-color: rebeccapurple;
}

/* media query starts */
@media(max-width: 1200px){

    #content_card {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    #card_left {
        width: 100%;
        /* border: 2px solid red; */
    }

    #card_left h2 {
        margin-top: 10px;
        text-align: center;
        color: blue;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    #card_left img {
        width: 100%;
        margin-top: 10px;
    }
    
    #card_left p {
        margin-top: 5px;
        font-size: 20px;
        font-weight: 600;
        text-align: justify;
    }
    
    #card_left a {
        text-align: center;
        align-items: center;
        justify-content: center;
        color: red;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        margin-left: 40vw;
    }
    
    /* middle part starts */
    #card_middle {
        width: 100%;
        /* border: 2px solid #000; */
    }

    #card_middle h2 {
        margin-top: 10px;
        text-align: center;
        color: blue;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }

    #card_middle img {
        width: 100%;
        margin-top: 10px;
    }

    #card_middle p {
        margin-top: 5px;
        font-size: 20px;
        font-weight: 600;
        text-align: justify;
    }

    #card_middle a {
        text-align: center;
        align-items: center;
        justify-content: center;
        color: red;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        margin-left: 40vw;
    }   
    
    /* right part starts */
    #card_right {
        width: 100%;
        /* border: 2px solid green; */
    }

    #card_right h2 {
        margin-top: 10px;
        text-align: center;
        color: blue;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    #card_right img {
        width: 100%;
        margin-top: 10px;
    }
    
    #card_right p {
        margin-top: 5px;
        font-size: 20px;
        font-weight: 600;
        text-align: justify;
    }
    
    #card_right a {
        text-align: center;
        align-items: center;
        justify-content: center;
        color: red;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        margin-left: 40vw;
    }
    


}


@media(max-width: 600px){

    #content_card {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    #card_left {
        width: 100%;
        height: 110vh;
        border: 2px solid red;
        border: none;
    }

    #card_left h2 {
        margin-top: 40px;
        text-align: center;
        color: blue;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 550;
    }
    
    #card_left img {
        width: 100%;
        margin-top: 10px;
    }
    
    #card_left p {
        margin-top: 5px;
        font-size: 22px;
        font-weight: 600;
        text-align: justify;
        word-spacing: -2px;
    }

    #card_left a {
        text-align: center;
        align-items: center;
        justify-content: center;
        color: red;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        margin-left: 40vw;
    }
    
    /* middle part starts */
    #card_middle {
        width: 100%;
        height: 110vh;
        border: 2px solid #000;
        border: none;
    }

    #card_middle h2 {
        margin-top: 10px;
        text-align: center;
        color: blue;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }

    #card_middle img {
        width: 100%;
        margin-top: 10px;
    }

    #card_middle p {
        margin-top: 25px;
        font-size: 22px;
        font-weight: 600;
        text-align: justify;
        word-spacing: -2px;
    }

    #card_middle a {
        text-align: center;
        align-items: center;
        justify-content: center;
        color: red;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        margin-left: 40vw;
    }

    
    /* right part start */
    #card_right {
        width: 100%;
        height: 115vh;
        border: 2px solid green;
        border: none;
    }

    #card_right h2 {
        margin-top: 10px;
        text-align: center;
        color: blue;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    #card_right img {
        width: 100%;
        margin-top: 10px;
    }
    
    #card_right p {
        margin-top: 25px;
        font-size: 22px;
        font-weight: 600;
        text-align: justify;
        word-spacing: -2px;
    }
    
    #card_right a {
        text-align: center;
        align-items: center;
        justify-content: center;
        color: red;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        margin-left: 40vw;
    }
    


}